@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flip-tile-inner {
        position: relative;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .flipped {
        transform: rotateY(180deg);
    }

    .flip-tile-front, .flip-tile-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-tile-back {
        /*background-color: #2980b9;*/
        color: white;
        transform: rotateY(180deg);
    }
}